@import "../../Styles/variables";
@import "../../Styles//media";

.hero {
    position: relative;
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    color: white;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../../Assets/Images/img_9528_720.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(50%); 
        background-position: center;
    }

    &__text {
        position: relative;
        z-index: 1;
        font-size:40px;
        margin: 0 auto;
        width: 80vw;
    }

    &__cta{
        position: relative;
        display:block;
        background-color: #DFB36E;
        color: white;
        font-weight: 700;
        padding: 10px;
        width: 116px;  
        border: none;  
        border-radius: 18px;
        font-size: 18px;
        width: 200px;
        margin-top: 10px;
      }

      .hero__cta::after {
        content: " →"; /* Adds a slim right arrow */
        font-size: 18px; /* Adjust size of the arrow if needed */
        margin-left: 8px; /* Space between text and arrow */
      }

      @include media(mobile)  {
        &__text {
            text-align: center;
            line-height: 48px;
            font-size: 30px;
        }

        &__cta{
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}

.hero a{
    text-decoration: none !important;
}





