@import "../../Styles/variables";
@import "../../Styles//media";

.gallery {
    padding: 5px 15px;

    &__wrapper{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    &__tittle{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }
    &__pics_wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        max-width: 850px;
    }
    &__pics{
        border: 1px solid red;
        height: 250px;
        width: 300px;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        &:first-child{
            margin-top: 20px;
        }
    }
    @include media(tablet)  {
        &__pics_wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &__pics{
            margin-bottom: unset;
            margin-top: 25px;
            &:first-child{
                margin-top: 25px;
            }
        }
    }
    @include media(desktop)  {
        &__pics_wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        &__pics{
            margin-bottom: unset;
            margin-top: 25px;
            &:first-child{
                margin-top: 25px;
            }
        }
    }


}

.line__style__gallery{
    background: #DFB36E;
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
}
