@import "../../Styles/variables";
@import "../../Styles//media";

.contact {
    color: #333;

    &__image_wrapper{
        height: 200px;
        border:1px solid red;
    }
    &__form_wrapper{
        height: 340px;
        border: 1px solid green;
        background-color: #D9D9D9;
    }
    &__form{
        padding: 0 15px;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
    }
}